<header>
  <h1 class='question_title' >Q: <%= question.title %></h1>

  <div class="row">

    <div class="col-md-2">
      <a href="" title=""><i class="fa fa-arrow-up upvote-question" aria-hidden="true"></i></a><br>
      <span class='vote-count'><%= question.votes.length %></span><br>
      <a href="" title=""><i class="fa fa-arrow-down downvote-question" aria-hidden="true"></i></a>
    </div>

    <div class="col-md-6">
      <div id="body-content">
        <p class='question_body' ><%= question.body %></p>
      </div>
    </div>
  </div>

  <a href="/questions/<%= question.id %>/comments" class='add-new-comment'>Add new comment</a>

  <div class='comments-container'>
    <% question.comments.each do |comment| %>
      <p class='comment'><%= comment.body %></p>
    <% end %>
  </div>
</header>

<div class='answers-container'>
  <h2><%= question.answers.length %> Answers</h2>


  <% question.answers.each do |answer| %>
    <article id="<%= answer.id %>">
      <div class="row">

        <div class="col-md-2">
          <a href="" title=""><i class="fa fa-arrow-up upvote-answer" aria-hidden="true"></i></a><br>
          <span class='vote-count'><%= answer.votes.length %></span><br>
          <a href="" title=""><i class="fa fa-arrow-down downvote-answer" aria-hidden="true"></i></a>
        </div>

        <div class="col-md-6">
          <div id="body-content">
            <p><%= answer.body %></p>
          </div>
        </div>

      </div>

      <div class='comments-container'>
        <% answer.comments.each do |comment| %>
          <p class='comment'><%= comment.body %></p>
        <% end %>
      </div>

    </article>
  <% end %>

</div>
