<header>
  <h1 class='question_title' >Q: <%= question.title %></h1>

  <div class="row">

    <div class="col-md-2">
      <a href="" title=""><i class="fa fa-arrow-up upvote-question" aria-hidden="true"></i></a><br>
      <span class='vote-count'><%= question.votes.length %></span><br>
      <a href="" title=""><i class="fa fa-arrow-down downvote-question" aria-hidden="true"></i></a>
    </div>

    <div class="col-md-6">
      <div class="body-content">
        <p class='question_body' ><%= question.body %></p>
      </div>
    </div>
  </div>

  <a href="/questions/<%= question.id %>/question/comments" class='add-new-comment'>Add new comment</a>

  <% if @question_new_comment %>
    <%= erb :'/questions/_new_comment', locals: {question: @question} %>
  <% end %>

  <div class='comments-container'>
    <% question.comments.each do |comment| %>
      <p class='comment'><%= comment.body %></p>
    <% end %>
  </div>
</header>
  <br><br>
<div class='answers-container'>
  <h3><%= question.answers.length %> Answers</h3>


  <% question.answers.each do |answer| %>
    <article id="<%= answer.id %>">
      <div class="row">

        <div class="col-md-2">
          <a href="" title=""><i class="fa fa-arrow-up upvote-answer" aria-hidden="true"></i></a><br>
          <span class='vote-count'><%= answer.votes.length %></span><br>
          <a href="" title=""><i class="fa fa-arrow-down downvote-answer" aria-hidden="true"></i></a>
        </div>

        <div class="col-md-6">
          <div class="body-content">
            <p><%= answer.body %></p>
          </div>
        </div>

      </div>

      <a href="/questions/<%= question.id %>/answers/<%= answer.id %>/comments" class='add-new-comment'>Add new comment</a>

      <% if @answer_new_comment && answer.selected_answer(this_answer) %>
        <%= erb :'/questions/_new_comment', locals: {question: @question, answer: answer} %>
      <% end %>

      <div class='comments-container'>
        <% answer.comments.each do |comment| %>
          <p class='comment'><%= comment.body %></p>
        <% end %>
      </div>

    </article>
  <% end %>
  <br>
  <% if @errors %>
    <% @errors.each do |error| %>
      <p class="errors"><%= error %></p>
    <% end %>
  <% end %>

  <h4>Your Answer</h4><br>
  <form action="/questions/<%= question.id %>/answers" method="POST">
   <textarea rows='6' cols='80' placeholder="Type your answer here" name="new_answer"></textarea><br>
    <input type="submit" name="add_new_answer" value="Add answer">
</form>
</div>